body {
    font-size: 15pt;
    background-color: orange; /* fixed from 'lightgraywhite' */
}

.headings {
   font-family: cursive;
   color: black; /* fixed from 'deepblack' */
   font-size: 70px;
}

.input {
  background-color: white;
  color: black;
  border-block-color: orange; 
  border-radius: 10px;
  border-style: inset;
  padding: 10px;
  font-size: 18px;
  width: 300px;
}

.label {
  font-style: white;
  display: block;
}

.button {
  
  display: inline-flex;
  align-items: center;
  background-color: #2aa64a; 
  color: white;
  font-family: monospace, monospace;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  user-select: none;
}

.button .icon {
  margin-right: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.legend {
  display: inline-block;
  align-items: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight:600;
  padding: 5px 15px;
  border-radius: 20px;
  user-select: none;
  background-color: mintcream;
  text-align: center;
  margin: 0px;
  width: auto;
  
  
  display: inline-flex;
  border-style: inset;
  margin: 50px 20px 5px;
  border-color: orange;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.login{
  display: inline-flex;
  align-items: center;
  background-color: blue; 
  color: white;
  font-family: monospace, monospace;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  user-select: none;
}
